﻿
@model IEnumerable<CarBrand>

@section PageTitle
{
    Марки
}
<h2>Марки</h2>
<table class="table">
    <tr>
        <th>
            ИД
        </th>
        <th>
            Название
        </th>
    </tr>
@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
    </tr>
}

</table>
