﻿@model IEnumerable<CarPart>

@section PageTitle
{
    Запчасти
}

<h2>Запчасти</h2>
<div class="input-group">
    <input type="text" class="form-control" style="width: 450px;" placeholder="Введите название запчасти или марки" id="query">
</div>
<br/>
<table class="table">
    <tr>
        <th>
            ИД
        </th>
        <th>
            Название
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullTitle)
        </td>
    </tr>
}
</table>

@section Body
{
    <script>
        $('#query').autocomplete({
            source: "@Url.Action("Search", "CarParts", new { area = "Car" })",
            minLenght: 2
        })
    </script>
}